@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter";
}

.header-main {
    max-width: 1512px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 106px;
    position: relative;
}

.header-main-burger {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.header-burger-menu {
    position: absolute;
    left: 0;
    background: white;
    max-width: 992px;
    width: 100%;
    padding: 70px 106px;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.header-burger-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.header-burger-menu button {
    padding: 10px 80px;
    border: none;
    background: #076BB2;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.header-main-name {
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
    color: #076BB2;
}

.header-main-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-main-menu button,
.events button {
    padding: 10px 80px;
    border: none;
    background: #076BB2;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.header-main-menu a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}

.header-main-lang {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.hero {
    height: 981px;
    background: url(../images/task4/hero.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 139px;
}

.cards {
    display: flex;
}

.card {
    width: 235px;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card h4 {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.card select {
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.cards button {
    width: 107px;
    height: 99px;
    border: none;
    background: #076BB2;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.about {
    margin: 100px auto;
    padding: 60px;
    max-width: 1080px;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: "Lora", sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #888888;
    line-height: 145%;
}

.about p {
    margin: 16px 0;
}

.events {
    padding: 0 106px;
    text-align: center;
}

.events-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 25px 0;
}

.event-card {
    position: relative;
    width: 420px;
}

.event-card img {
    width: 100%;
    height: 359px;
    object-fit: cover;
}

.event-card figcaption {
    padding: 50px;
}

.event-card h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
}

.event-card-date {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
    justify-content: center;
}

.event-card-date-day {
    font-size: 40px;
}

.event-card-date-month {
    font-size: 20px;
}

.contact {
    text-align: center;
    margin: 100px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 65px;
    max-width: 1080px;
    width: 100%;
    padding: 70px;
    margin: 0 auto;
}

.form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
}

.form input {
    border: unset;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    color: black;
    padding: 10px;
}

.contact textarea {
    border: 1px solid #000000;
    font-size: 16px;
    color: black;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    resize: none;
}

.form button {
    padding: 10px 80px;
    border: none;
    background: #076BB2;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    width: max-content;
    align-self: center;
}

footer {
    background: #033c65;
}

.footer-main {
    max-width: 1160px;
    margin: 0 auto;
    padding: 65px;
}

.footer-main h2 {
    color: white;
    text-align: center;
    margin-bottom: 65px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 24px;
}

.footer-menu p {
    color: white;
    font-family: "Lora", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-policy {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.footer-policy a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.footer-rights {
    color: white;
    font-weight: 100;
    opacity: 0.5;
}

@media screen and (max-width: 1224px) {
  .header-main {
    padding: 40px;
  }
}

@media screen and (max-width: 992px) {
    .header-main-burger {
        display: block;
    }

    .header-main-menu {
        display: none;
    }

    .cards {
        flex-direction: column;
        width: max(50%, 400px);
    }

    .cards button {
        width: unset;
    }

    .card {
        width: unset;
    }

    .events-cards {
        flex-direction: column;
        padding: 0 106px;
    }

    .event-card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header-burger-menu {
        flex-direction: column;
    }

    .events {
        padding: 0 53px;
    }

    .events-cards {
        padding: 0 53px;
    }

    .form-fields {
        grid-template-columns: 1fr;
    }

    .footer-menu,
    .footer-social,
    hr,
    .footer-policy,
    .footer-rights {
        display: none;
    }

    .footer-main h2 {
        margin: unset;
    }
}

@media screen and (max-width: 576px) {
    .header-main {
        padding: 70px 35px;
    }

    h2 {
        font-size: 20px;
    }

    .cards {
        width: 100%;
        margin: 10px;
    }

    .events-cards {
        padding: 0;
    }
}